<fieldset *ngIf="(user$ | async) as user">
    <input type="text" disabled [value]="user.name">
    <input type="text" disabled [value]="user.email">
</fieldset>

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, quaerat fugit accusamus, hic dicta ratione nesciunt iusto nulla aliquid necessitatibus perspiciatis nisi assumenda recusandae voluptates, tempore ullam eligendi dolore! Vero quasi distinctio minima, consequuntur modi vitae necessitatibus quidem reprehenderit, maxime ipsam incidunt, hic suscipit rem error ut. Eos deserunt dolores, voluptas quo quidem aliquid non similique. Rerum quaerat excepturi doloribus dolores dolore ipsam, adipisci debitis commodi officia nesciunt eos laborum sed ut eum animi illo corrupti consequuntur quasi, harum voluptas nihil, aperiam culpa cum quos! Ut autem aliquam et, cumque ipsum laboriosam ratione eos. Magni vitae odio sapiente rerum excepturi!