<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ul *ngIf="isLogged">
                <li>
                    <a routerLink="/user/profile">{{user?.username}}'s profile</a>
                </li>
                <li>
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
            <ul *ngIf=" !isLogged">
                <li>
                    <a routerLink="/user/login">Login</a>
                </li>
                <li>
                    <a routerLink="/user/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/theme">Themes</a>
            </li>
            <li>
                <a routerLink="/theme/add-theme">New Theme</a>
            </li>
        </ul>
    </nav>
    <p *ngIf="errorMessage" class="notification error-message">{{errorMessage}}</p>
</header>