<app-header></app-header>
<router-outlet></router-outlet>

<button (click)="toggleActive()" [appHighlight]="isActive">Toggle</button><br>

<ng-template #isActiveTemplate>ACTIVE</ng-template>
<ng-template #isNotActiveTemplate>INACTIVE</ng-template>

<ng-container *ngTemplateOutlet="isActive ? isActiveTemplate : isNotActiveTemplate"></ng-container>
<br>
<ng-container *ngIf="isActive; else isNotActiveTemplate">
    ACTIVE
</ng-container>
<br>

<ng-template [appMyIf]="isActive" let-data="data">
    <ng-container>
        ACTIVE-{{data}}
    </ng-container>
</ng-template>

<ng-container *appMyIf="isActive;let test ; let data=data">
    ACTIVE-{{data}}
    {{test}}
</ng-container>

<hr>
<app-footer></app-footer>