@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

/* To be used with reset.css files */
*, *::before,*::after{box-sizing: border-box; margin: 0; padding: 0;}
body{padding: 3rem;}




html {
    font: 16px/1.5 'PT Sans', 'Helvetica', Verdana, Geneva, Tahoma, sans-serif;
}

body, button, table, form, input, select, textarea {
    font: inherit;
}


/*
 * Headings
 */
h1,h2,h3,h4,h5,h6 {
    font-family: 'PT serif';
    line-height: 1.1;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

h1 {font-size: 3.052rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}
h6 {font-size: 1rem;}


/* 
 * Lists and paragraphs
 */
p, ul, ol {
    padding-bottom: 1.5rem;
}

ul, ol {
    padding-left: 2rem;
}

li ul, li ol {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

hr{
    margin-bottom: 1.5rem; /* Same as paragraphs */
}


/*
 * Blockquotes
 */
blockquote {
    padding-left: 2rem;  /* Same as ul, ol */
}

blockquote p:not(:last-child){
    font-style: italic;
}

blockquote p:last-child{
    text-align: right;
    font-weight: bold;
}

blockquote p:first-child::before{
    display: inline-block;
    content: '"';
    font-size: 1.5rem;
    line-height: 1;
    padding-right: 1rem;
}

blockquote p:nth-last-child(2)::after{
    display: inline-block;
    content: '"';
    font-size: 1.5rem;
    line-height: 1;
    padding-left: 1rem;
}