@import url('forms.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Helvetica, sans-serif;
}

body,
input,
select,
fieldset {
    font: inherit;
}


body {
    padding: 2em;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper i {
    display: block;
    margin-right: 0.5em;
}
