@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: 'Raleway',
        sans-serif;
    font-weight: bold;
}

.form {
    text-align: center;
    width: 15rem;
    margin: 0 auto;

    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.2s linear;
    text-align: center;
    background: #ADADE8;
}

button {
    outline: none;
    border: none;
    background: white;
    color:rgb(7, 7, 7);
    padding: 6px;
    border-radius: 3px;
    margin: 5px;
  }

.form label {
    color: white;
    display: block;
}

.form label input {
    display: block;
    margin: 0 auto;
}