.button,
button {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border: 2px solid currentColor;
    border-radius: 2rem;
    background-color: transparent;
    cursor: pointer;
}

.button:focus,
.button:hover,
.button:active,
button:focus,
button:hover,
button:active {
    outline: none;
    color: #070;
    border-color: currentColor;
}

.button.filled,
button.filled {
    color: #fff;
    border-color: #000;
    background-color: #000;
}

.button.filled:focus,
.button.filled:hover,
.button.filled:active,
button.filled:focus,
button.filled:hover,
button.filled:active {
    color: #fff;
    background-color: #070;
    border-color: #070;
}

.button.icon i,
button.icon i {
    padding-right: 0.2rem;
}