<h1>Create Book Entry</h1>
<form action="/catalog/create" method="POST">
    <label for="title">Book Title</label>
    <input type="text" id="title" name="title">
    <label for="author">Book Author</label>
    <input type="text" id="author" name="author">
    <input type="submit" value="Create Book">
</form>