<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1>Find a movie</h1>
            <p>Search for a movie using the form below:</p>

            <form #form="ngForm" (ngSubmit)="searchMovies(form)">
                <input class="form-control input-lg" name="query" type="text" placeholder="Search" aria-label="Search" ngModel>
                <button class="btn btn-default mt-2" type="submit">Search</button>
            </form>

        </div>
    </div>
    <router-outlet></router-outlet>
</main>