<form class="register" (ngSubmit)="onRegister()" [formGroup]="registerForm">

    <fieldset>
        <h2>Registration Form</h2>

        <!-- username -->
        <p class="field field-icon">
            <label for="username"><span><i class="fas fa-user"></i></span></label>
            <input formControlName="username" class="input-error" type="text" name="username" id="username" placeholder="Johnny">
        </p>

        <ng-container *ngIf="register.username.touched">
            <p class="error" *ngIf="register.username.errors?.required">Username is required</p>
            <p class="error" *ngIf="register.username.errors?.minlength">Username must be at least 5 characters</p>
        </ng-container>

        <!-- email -->
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input formControlName="email" type="email" name="email" id="email" placeholder="john.doe@gmail.com">
        </p>

        <ng-container *ngIf="register.email.touched">
            <p class="error" *ngIf="register.email.errors?.required">Email is required</p>
            <p class="error" *ngIf="register.email.value && register.email.errors?.invalidEmail">Invalid email</p>
        </ng-container>

        <!-- telephone -->
        <p class="field field-icon">
            <label for="phone"><span><i class="fas fa-phone"></i></span></label>
            <select formControlName="code" name="code" id="code" class="tel">
                <option *ngFor="let code of codes" [value]="code">+{{code.slice(2)}}</option>
            </select>
            <input formControlName="phone" type="text" name="phone" id="phone" placeholder="888 888">
        </p>

        <ng-container *ngIf="register.phone.touched">
            <p class="error" *ngIf="register.phone.errors?.pattern">Number must be 6 digits long</p>
        </ng-container>

        <!-- password -->
        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input formControlName="password" type="password" name="password" id="password" placeholder="******">
        </p>

        <ng-container *ngIf="register.password?.touched">
            <p class="error" *ngIf="register.password.errors?.required">Password is required</p>
            <p class="error" *ngIf="register.password.errors?.pattern">Password too short</p>
        </ng-container>

        <!-- rePassword -->
        <p class="field field-icon">
            <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
            <input formControlName="rePassword" type="password" name="rePassword" id="rePassword" placeholder="******">
        </p>

        <ng-container *ngIf="register.rePassword?.touched">
            <p class="error" *ngIf="register.rePassword.errors?.valueMismatch">Passwords don't match</p>
        </ng-container>

        <p class="error" *ngIf="serverError">{{serverError}}</p>


        <button [disabled]="registerForm.invalid">Create Account</button>

        <p class="text-center">
            Have an account?
            <a href="#">Log In</a>
        </p>

    </fieldset>
</form>