<img id="sadFaceImg"
    src="https://media.istockphoto.com/vectors/sad-face-icon-unhappy-face-symbol-vector-id934714316?k=6&m=934714316&s=170667a&w=0&h=5Tn4NDO6HAvElaTn3KrZ9YrncMzJ4B7Vo3c_IlWNPcc="
    alt="sad face" />
<h1>404</h1>
<h2>Page not found</h2>