{{#if user}}
{{#if shoes}}
<div class="shoes">
    {{#each shoes}}
    {{> shoe}}
    {{/each}}
</div>
{{else}}
<h1>No shoes to display. Be the first to create a new offer...</h1>
{{/if}}


{{else}}

<div class="container">
    <div class="about-us">
        <div>
            <img src="/public/shoes.jpg" alt="">
            <img src="/public/shoes2.jpg" alt="">
        </div>
        <p>
            <a href="/auth/register">Register Now</a> and Try it!
        </p>
    </div>
</div>

{{/if}}