<form action="/auth/register" method="post">
<input type="text" name="username">
<input type="text" name="password">
<input type="text" name="repeatPassword">
<input type="submit" value="Register">
</form>