<h1>Login</h1>
<p class="form-info">Don't have account?
    <a href="/auth/register">Register now</a> and fix that!
</p>
<form action="/auth/login" method="POST">
    <div>
        <input type="email" name="email" placeholder="Email..." value="{{data.email}}">
    </div>

    <div>
        <input type="password" name="password" placeholder="Password...">
    </div>
    <div>
        <p class="message">{{errors}}</p>
        <button>Login</button>
    </div>
</form>