{{#with user}}
<div class="user-info">
    <div>
        <p>Email: <span>{{email}}</span></p> |
        <p>My offers: <span>[{{offers}}]</span></p> |
        <p><a href="/auth/logout">Logout</a></p>
    </div>
    <div class="shoes">
        {{#each shoes}}
        {{> shoe}}
        {{/each}}
    </div>
    <p class="total-profit">Money spent: <span>${{total}}</span></p>
</div>
{{/with}}