<form #loginForm="ngForm" class="login" (ngSubmit)="login(loginForm)">

    <fieldset>
        <h2>Login Form</h2>

        <p class="field field-icon">
            <label for="username"><span><i class="fas fa-envelope"></i></span></label>
            <input #username="ngModel" class="input-error" type="username" name="username" id="username" placeholder="username" ngModel required>
        </p>
        <p class="error" *ngIf="username.control.touched && username.control.errors?.required">Username is required</p>

        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input #password="ngModel" type="password" name="password" id="password" placeholder="******" ngModel required>
        </p>

        <p class="error" *ngIf="password.control.touched && password.control.errors?.required">Password is required</p>

        <button [disabled]="loginForm.invalid">Login</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/register">Register</a>
        </p>

    </fieldset>
</form>