<div>
    <div class="home-image">
        <img src="{{imageUrl}}" alt="Card image cap" width="400">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
        <div class="info-buttons">
            <a class="btn details" href="/plays/details/{{_id}}">Details</a>
            <span class="likes">Likes: {{likes}}</span>
        </div>
    </div>
</div>