<section>
    <h2>Create new article</h2>
    <div class="spacer">
        <form action="/articles/create" method="POST">
            <label>Article title</label>
            <input type="text" class="title" name="title" value="{{article.title}}">
            <label>Content</label>
            <textarea name="description">{{article.description}}</textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>