<section>
    <h2>Delete article </h2>
    <div class="spacer">
        <form action="/articles/delete/{{article._id}}" method="POST">
            <label>Article Title</label>
            <h3>{{article.title}}</h3>
            <label>Content</label>
            <textarea disabled name="description">{{article.description}}</textarea>
            <input type="submit" value="Delete">
        </form>
    </div>
</section>